@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  background-color: rgb(99, 99, 99);
}

.my-img {
  width: 70%;
  margin: 20px;
  border: 2px solid br;
  border-radius: 10px;
}

.profession {
  font-size: 22px;
  color: grey;
}

a {
  color: black;
}

a:hover {
  color: #f7542e;
}

/***SKILLS***/
.skill-icon {
  padding: 8px;
  margin-right: 10px;
  color: #fff;
  border-radius: 10px;
}

#html {
  background-color: #e34c26;
}

#css {
  background-color: #2565ae;
}

#js {
  background-color: rgb(240, 219, 79);
}

#bootstrap {
  background-color: #553c7b;
}

/***PROJECTS***/

button {
  margin: 10px auto;
  border-radius: 10px;
  padding: 15px 25px;
  border:none;
}

button a{
  text-decoration: none;
  font-size: 16px;
}

button:hover a{
  text-decoration:none;
}

.demo-btn{
  color: #fff;
  background-color: #2f80ed;
}

.demo-btn a{
  color: #fff;
}

.code-btn{
  border: 1px solid #2f80ed;
}

.code-btn a{
  color: #2f80ed;
}

/***FOOTER***/
footer {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}

.username-github-link, .devchallenge-link {
  color: #BDBDBD;
}

.username-github-link:hover, .devchallenge-link:hover {
  color: #f7542e;
}